<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Dispositivos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Listado de Dispositivos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Años de Uso</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody id="dispositivos-tbody">
    <!-- Aquí se llenará la tabla con los datos -->
    </tbody>
</table>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/script.js"></script>
</body>
</html>
